
<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Bienvenido {{ nombreUsuario }}</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
</ion-content>

<ion-footer>
	<ion-toolbar color="primary">
		<div style="display: flex; flex-direction: row; align-items: center; justify-content: center; width: 100%; gap: 2em;">
			<ion-button fill="clear" routerLink="/alerta" style="display: flex; flex-direction: column; align-items: center;">
				<ion-icon name="megaphone-outline" slot="icon-only" style="color: #fff; font-size: 32px;"></ion-icon>
				<span style="font-size: 13px; color: #fff; margin-top: 2px;">Alertas</span>
			</ion-button>
			<ion-button fill="clear" routerLink="/derivacion" style="display: flex; flex-direction: column; align-items: center;">
				<ion-icon name="swap-horizontal-outline" slot="icon-only" style="color: #fff; font-size: 32px;"></ion-icon>
				<span style="font-size: 13px; color: #fff; margin-top: 2px;">Derivaciones</span>
			</ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
