
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button>Mi Perfil</ion-item>
  <ion-item button routerLink="/login">Iniciar sesión</ion-item>
  <ion-item button routerLink="/register">Registrarse</ion-item>  
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content [fullscreen]="true" id="main-content">
  <div class="page-content">
    <div id="map" style="width: 100%; height: calc(100vh - 60px); position: relative; margin-bottom: 0;"></div>
    <div class="reportar-btn-container" style="display: flex; gap: 12px; justify-content: center; align-items: center;">

      <ion-button color="primary" expand="block" class="reportar-btn" (click)="goToSanBernardo()">
        <ion-icon name="megaphone-outline" slot="start"></ion-icon>
        Reportar
      </ion-button>

      <ion-button shape="round" color="primary" class="gps-btn" (click)="goToSanBernardo()">
        <ion-icon name="locate-outline" slot="icon-only" style="color: #fff;"></ion-icon>
      </ion-button>
      
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
  <div style="display: flex; flex-direction: row; align-items: flex-end; justify-content: center; width: 100%; gap: 1cm;">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <ion-button fill="clear" routerLink="/home" style="display: flex; flex-direction: column; align-items: center;">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <ion-icon name="map-outline" slot="icon-only" style="color: #fff; font-size: 32px; margin-bottom: 0px;"></ion-icon>
            <span style="font-size: 13px; color: #fff; margin-top: 2px; text-align: center; width: 100%;">Mapa</span>
          </div>
        </ion-button>
      </div>

      <div style="display: flex; flex-direction: column; align-items: center;">
        <ion-button fill="clear" routerLink="/alerta" style="display: flex; flex-direction: column; align-items: center;">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <ion-icon name="megaphone-outline" slot="icon-only" style="color: #fff; font-size: 32px; margin-bottom: 0px;"></ion-icon>
            <span style="font-size: 13px; color: #fff; margin-top: 2px; text-align: center; width: 100%;">Alerta</span>
          </div>
        </ion-button>
      </div>

      <ion-buttons slot="end">
        <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
          <ion-button (click)="openMenu()">
            <ion-icon name="menu-outline" slot="icon-only" style="color: #fff; font-size: 32px; margin-bottom: 0px;"></ion-icon>
          </ion-button>
          <span style="font-size: 13px; color: #fff; margin-top: 2px; text-align: center; width: 100%;">Menú</span>
        </div>
      </ion-buttons>

    </div>
  </ion-toolbar>
</ion-footer>
