<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
			<img src="assets/Img/Logo_San_Bernardo.png" alt="Logo San Bernardo" style="height: 50px; width: 50px; margin-right: 8px; vertical-align: middle; border-radius: 4px;" />
			Registrarse
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form (ngSubmit)="register()">
		<ion-item>
			<ion-label position="floating">Usuario</ion-label>
			<ion-input [(ngModel)]="username" name="username" required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Contraseña</ion-label>
			<ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Correo</ion-label>
			<ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Nombre</ion-label>
			<ion-input [(ngModel)]="first_name" name="first_name" required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Apellido</ion-label>
			<ion-input [(ngModel)]="last_name" name="last_name" required></ion-input>
		</ion-item>
		<div *ngIf="error" style="color: red; margin-top: 8px;">{{ error }}</div>
		<ion-button expand="block" type="submit" color="primary" style="margin-top: 16px;">Registrarse</ion-button>
	</form>
	<ion-button expand="block" fill="clear" (click)="goToLogin()">¿Ya tienes cuenta? Inicia sesión</ion-button>
</ion-content>

